/*----
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
---*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/* reset */
body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	-webkit-appearance:none;
	background:#fff;
}
.clear{
clear:both;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-------top-nav--------*/
.top-nav{
font-weight:600;
font-size:0.9em;
}
.navigation ul{
	width: 100%;
	padding:0.5em 0;
	margin:0;
	position: relative;
	text-align:center;
}
.navigation ul li{
	display:inline-block;
}
.navigation ul li a{
	color:#000;
	text-decoration:none;
	padding:1em 0em;
	display:block;
	font-size:0.95em;
}
.navigation ul li a:hover{
	color:#FFE500;
}
.navigation span.menu{
	display:none;
}
.navigation span.menu:before{
	content:url("../images/nav.png") no-repeat 0px 0px;
	cursor:pointer;	
	text-align: right;
	width:100%;
}
.navigation ul li{
	display:block;
	float:none;
	margin: 0em;
}
.navigation ul li a{
	border-bottom:1px solid #999;
	color:#000;
	text-align: center;
}
.navigation ul{
	display:none;
	background:rgba(255, 255, 255, 0.44);
	width:95%;
}
.navigation span.menu{
	display: block;
	width: 100%;
	text-align: right;
	position:relative;
	padding:1em 1em 1em 0;
}
.logo{
top:1.7%;
position:absolute;
}
/*-------top-nav ends--------*/

/*-------Banner--------*/
.banner{
background:url(../images/Slider.jpg) no-repeat;
background-size:cover;
min-height:208px;
}
.banner-head{
background:rgba(50, 70, 81, 0.76);
width:100%;
min-height:208px;
bottom:0;
text-align:center;
}
.banner-head-info{
padding-top:1.5em;
}
.banner-head h1{
font-size:2em;
font-weight:700;
color:#fff;
margin:0;
}
.banner-head h4{
color:#fff;
margin:0;
padding:0;
font-size:0.85em;
}
.banner-head p{
color:#fff;
line-height:18px;
width:100%;
margin:0 auto;
font-size: 0.85em;
font-weight: 300;
}
.banner-head span{
color:#FFE500;
}
.banner-Get-started{
margin:1em 0;
}
.banner-Get-started a{
outline:0;
color:#FFE600;
background:#fff;
border-radius:22px;
text-decoration:none;
padding:0.7em 1.5em;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-size:0.85em;
}
.banner-Get-started a:hover{
background:#FFE600;
color:#fff;
}
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 0.85em;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 0.85em;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 55px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 88%;
	z-index: 999;
	left: 40%;
	padding: 0;
	margin: 3% 0 0 0;
}
/*----*/
.callbacks_tabs li{
	display:inline-block;
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:6px;
  width:6px;
  display:inline-block;
  background:#fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	background: yellow;
}
/*---- /slider ends ----*/

/*-------services--------*/
.services{
text-align:center;
padding:1em 0;
}
.services h2{
font-size: 2em;
color: #2C4755;
font-weight: 600;
margin:0;
}
.services p{
width:90%;
margin:0 auto;
padding-top:0.5em;
color: #2C4755;
font-weight: 400;
font-size:0.85em;
}
.service-grid a span{
padding:1em 1em;
width:100px;
height:84px;
background:url('../images/service-icons.png') no-repeat 0px 0px;
display:inline-block;
position:relative;
}
.service-grid a span.icon1{
	background-position:0px 0px;
}
.service-grid a span.icon2{
	background-position:-300px 0px;
}
.service-grid a span.icon3{
	background-position:-600px 0px;
}
.service-grid a span.icon4{
	background-position:-900px 0px;
}
.service-grid{
margin-top:1em;
}
.service-grid p{
padding:0;
width:100%;
color: #637988;
font-size: 0.85em;
}
.service-grid h4{
font-weight: 700;
font-size: 1.3em;
color: #334752;
}
/*-------services ends--------*/

/*-------services info--------*/
.service-banner{
background:url(../images/WeMake.png) no-repeat;
background-size:cover;
min-height:465px;
margin:0;
position:relative;
}
.service-banner-layer{
position:absolute;
background:rgba(50, 70, 81, 0.76);
width:100%;
background-size:cover;
min-height:465px;
bottom:0;
}
.service-nav ul li{
list-style-type:none;
}
.service-nav ul li a{
text-decoration:none;
color: #fff;
font-size: 0.85em;
}
.service-nav ul li a:hover{
color:#FBEF85;
}
.service-nav ul li a span{
background:url(../images/nav-icon.png) no-repeat;
width:18px;
height:18px;
display:inline-block;
vertical-align:middle;
margin-right: 18px
}
.tab span{
background:url(../images/tab.png) no-repeat;
background-size:cover;
width: 61%;
margin:0 auto;
min-height: 188px;
display:block;
}
.tab{
z-index: 1;
margin-top:1em;
}
.service-info{
padding:1.1em 0em;
}
.service-info h3{
color:#FFE600;
font-size:1.2em;
}
.service-info p{
width: 97%;
margin: 0;
padding: 0.5em 0;
color: #fff;
font-size: 0.85em;
}
.service-footer{
position:absolute;
width:100%;
bottom:0;
background:#FFE600;
min-height:61px;
text-align:center;
}
.Get-started{
margin:1.2em 0;
}
.Get-started a{
border:1.5px solid #fff;
outline:0;
color:#FFE600;
background:#fff;
border-radius:22px;
padding:0.5em 1em;
text-decoration:none;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
font-size:0.85em;
}
.Get-started a:hover{
background:#FFE600;
color:#fff;
border:1.5px solid #fff;
}
/*-------services info ends--------*/
/*---portfolio---*/
.portfolio{
text-align:center;
}
.portfolio h2{
font-size: 2em;
color: #2C4755;
font-weight: 600;
margin:0;
}
.portfolio-head {
padding: 1em 0;
}
.portfolio-head p{
width: 100%;
margin: 0 auto;
color: #2C4755;
font-size: 0.85em;
}
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
position: absolute;
width: 100%;
height:93%;
top: 0;
left: 0;
text-align: center;
color: #ffffff;
}
.b-link-stripe .b-wrapper:hover {
	background:rgba(50, 70, 81, 0.71);;
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
}
/*-----------------------------------------------------------------------------------*/
/*--Animation effects---*/
b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top:33%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
ul#filters {
	padding: 0px;
	text-align: center;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: left;
}
	#filters li {
	display:inline-block;
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -o-inline-box;
		display: -ms-inline-box;
	}
	#filters li span.active,#filters li span {
	display: block;
	padding: 2px 1em;
	text-decoration: none;
	background: transparent;
	color: #637988;
	cursor: pointer;
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	border-radius: 20px;
}
#filters li span.active{
background:#FFE500;
color:#fff;
}
#filters li span:hover{
background:#FFE500;
color:#fff;
}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 31%;
		display: none;
		float: left;
		overflow: hidden;
		margin: 1%;
	}
	div#portfoliolist {
		padding: 0;
		margin: 1em 0;
}	
	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
	.portfolio-wrapper img{
	width:100%;
	}
	.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*----- effects-comman-css------*/
.contenthover{
	padding:1em;
}
.contenthover h3{
	color:#FFF;
}
.contenthover p{
	color:#FFF;
	font-size:0.875em;
	line-height:1.5em;
}
/*-----caption ------*/
.caption
{
	text-align:left;
	margin-left:9%;
}
.caption h3{
	color:#FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size:1.8em;
}
.caption  p
{
	text-align:left;
	font-size:14px;
}
.caption small
{
	display:block;
	text-align:left;
	font-size:14px;
}
h6.b-animate.b-from-left.b-delay03 
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 8px;
	color: #CCCCCC;
	text-align:center;
	}
p.b-animate.b-from-left.b-delay03 small
{
	display:block;
	font-size: 16px;
}
h2.b-animate.b-from-left.b-delay03 {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color: #FFE500;
	margin: 1em 0 0.5em 0;
}
/*--/Animation effects---*/
.portfolio-showmore{
margin:1em 0;
}
.portfolio-showmore a{
color:#fff;
background:#FFE500;
padding:0.5em 1.5em;
border:1.5px solid #FFE500;
border-radius:25px;
outline:0;
text-decoration:none;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
font-size:0.8em;
}
.portfolio-showmore a:hover{
color:#FFE500;
background:#fff;
border:1.5px solid #FFE500;
}
/*--------portfolio-------*/
.portfolio-video{
background:#FFE500;
padding:0;
}
.portfolio-video-grids{
padding:1em 0;
margin:0;
}
.video{
margin-top: 1em;
}
.portfolio-video-head h3{
font-weight: 600;
font-size: 1em;
margin-top:1em;
}
.portfolio-video-head h4{
font-size:0.85em;
font-weight:400;
}
.portfolio-video-head p{
width: 100%;
margin: 0 auto;
color: #fff;
padding-top: 0.5em;
font-size: 0.85em;
}
.portfolio-video-head {
text-align:center;
padding:0;
}
.portfolio-Get-started{
margin:1em 0;
}
.portfolio-Get-started a{
border:1.5px solid #fff;
outline:0;
color:#fff;
background:transparent;
border-radius:22px;
padding:0.5em 1em;
text-decoration:none;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
font-size:0.85em;
}
.portfolio-Get-started a:hover{
background:#fff;
color:#FFE500;
border:1.5px solid #fff;
}
/*---/portfolio---*/

/*---molly---*/
.molly{
background:#324651;
text-align:center;
padding: 1.5em 0;
}
.molly h3{
margin:0;
color:#fff;
font-weight: 600;
font-size: 1.2em;
}
.molly p{
color:#fff;
padding-top:0.5em;
font-weight:300;
font-size: 0.85em;
width: 90%;
margin: 0 auto;
}
.molly-Get-started{
margin:2em 0;
}
.molly-Get-started a{
border:1.5px solid #324651;
outline:0;
color:#FFE600;
background:#fff;
border-radius:22px;
text-decoration:none;
padding:0.5em 1em;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
font-size:0.85em;
}
.molly-Get-started a:hover{
background:#FFE600;
color:#fff;
border:1.5px solid #324651;
}
/*--Slider--*/
.dg-container{
	width: 100%;
	height: 315px;
	position: relative;
	background: url(../images/h-bg.png);
   zoom:0.24;
}
.dg-wrapper{
	width: 481px;
	height: 360px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url('../images/browser.png') no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	width:100%;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
/*--/Slider--*/
/*---/molly---*/

/*---about---*/
.about{
text-align:center;
padding: 1em 0;
}
.about h2{
font-size: 2em;
color: #2C4755;
font-weight: 600;
margin:0;
}
.about p{
width:100%;
margin:0 auto;
padding-top:1em;
color:#2C4755;
font-size:0.85em;
}
.about-grids {
margin: 2em 0 0 0;
}
.left-img img,.right-img img{
width: 100%;
}
.middle {
text-align: center;
margin-top: 0.5em;
}
.middle a{
color:#FFF066;
text-decoration:none;
}
.middle a:hover{
color:#2e9fff;
}
.middle h5{
color:#334752;
font-weight:600;
}
.middle h6 {
color: #637988;
width: 90%;
padding-bottom: 1em;
font-size: 0.85em;
margin: 0 auto;
line-height: 18px
}
.social-icons a span{
width:55px;
height:40px;
background:url('../images/new.png') no-repeat 0px 0px;
display:inline-block;
}
.social-icons a span.icon1{
	background-position:9px 0px;
}
.social-icons a span.icon1:hover{
	background-position:9px -43px;
}
.social-icons a span.icon2{
	background-position:-47px 0px;
}
.social-icons a span.icon2:hover{
	background-position: -47px -43px;
}
.social-icons a span.icon3{
	background-position:-97px 0px
}
.social-icons a span.icon3:hover{
	background-position: -97px -43px;
}
.ad{
background:#324651;
}
.ad-grids {
padding: 1em 0;
}
/*---/about---*/
/*---skill---*/
.skill-grid h4,.skill-about h4{
color:#FFE600;
margin-bottom:1em;
}
.skill-grid,.skill-about{
margin:1em 0;
}
.skill-head p{
color:#D6DADC;
font-weight:300;
margin:0;
font-size:0.85em;
}
.skill-head span{
min-height:8px;
border-radius:20px;
background:#fff;
width:100%;
display:block;
margin: 0.8em 0;
}
.skill-head span lable{
min-height:8px;
border-radius:20px;
background:#FFE500;
width:90%;
display:block;
margin: 0.8em 0;
}
.skill-about h6{
font-size: 0.85em;
color: #fff;
font-weight: 300;
line-height: 20px;
margin-bottom:1em;
}
/*---/skill---*/
/*---blog---*/
.blog{
background: #FAFAFA;
text-align:center;
padding: 1em 0;
}
.blog h2{
font-size: 2em;
color: #2C4755;
font-weight: 600;
}
.blog p{
width:100%;
margin:0 auto;
padding-top:0.5em;
color:#2C4755;
font-size:0.85em;
}
.blog-grids{
margin:1em 0;
}
.blog-left,.blog-right,.blog-grids-bottom {
text-align:justify;
background: #fff;
}
.blog-left img,.blog-right img,.blog-bottom-left img,.blog-bottom-middle img,.blog-bottom-right img{
width:100%;
}
.blog-left span a,.blog-right span a,.blog-bottom-left span a,.blog-bottom-middle span a,.blog-bottom-right span a{
margin-left:0.5em;
}
.blog-left h3 a,.blog-left span a,.blog-right h3 a,.blog-right span a,.blog-bottom-left h3 a,.blog-bottom-middle h3 a,.blog-bottom-right h3 a,.blog-bottom-left span a,.blog-bottom-middle span a,.blog-bottom-right span a{
color:#FFE922;
text-decoration:none;
}
.blog-left h3 a:hover,.blog-left span a:hover,.blog-right h3 a:hover,.blog-right span a:hover,.blog-bottom-left h3 a:hover,.blog-bottom-middle h3 a:hover,.blog-bottom-right h3 a:hover,.blog-bottom-left span a:hover,.blog-bottom-middle span a:hover,.blog-bottom-right span a:hover,.blog-readmore a:hover{
color:#2B4654;
}
.blog-left h3,.blog-left h3,.blog-right h3,.blog-right h3,.blog-bottom-left h3,.blog-bottom-middle h3,.blog-bottom-right h3,.blog-bottom-left h3,.blog-bottom-middle h3,.blog-bottom-right h3{
font-size: 1.5em;
}
.blog-readmore a{
color: #FFE922;
text-align: right;
text-decoration: none;
display: block;
width: 100%;
padding:0.5em 0;
font-size:0.8em;
}
.blog-show-more{
margin:1em 0;
}
.blog-left p,.blog-right p,.blog-bottom-left p,.blog-bottom-middle p,.blog-bottom-right p,.blog-left span,.blog-right span,.blog-bottom-left span,.blog-bottom-middle span,.blog-bottom-right span{
color:#637988;
font-weight:600;
line-height:15px;
font-size:0.85em;
}
.blog-left p,.blog-right p,.blog-bottom-left p,.blog-bottom-middle p,.blog-bottom-right p{
margin-top:0.5em;
}
.blog-show-more a{
color:#fff;
background:#FFE500;
padding:0.5em 1.5em;
border:1.5px solid #FFE500;
border-radius:25px;
outline:0;
text-decoration:none;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
font-size:0.85em;
}
.blog-show-more a:hover{
color:#FFE500;
background:#fff;
border:1.5px solid #FFE500;
}
/*---/blog---*/
/*---subscribe---*/
.subscribe{
min-height:100px;
background:#FFE500;
text-align:center;
padding:1em 0;
}
.subscribe h3{
color:#fff;
padding: 0.7em;
margin:0;
font-weight: 600;
font-size: 1em;
}
.subscribe form{
width:100%;
margin:0 auto;
}
.subscribe form input[type="text"]{
border:0;
border-radius:22px;
outline:0;
width:50%;
font-size:0.85em;
padding:0.5em;
color:#B6C0C7;
}
.subscribe form input[type="submit"]{
outline:none;
border-radius:22px;
border:1px solid #fff;
width:36%;
padding:0.5em;
background:#fff;
color:#B6C0C7;
font-size:0.8em;
}
.subscribe form input[type="submit"]:hover{
color:#fff;
border:1px solid #fff;
background:none;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*---/subscribe---*/
/*---contact---*/
.contact{
background:url(../images/ContactBackground.jpg) no-repeat;
background-size:cover;
min-height:618px;
position:relative;
}

.contact-head{
background:rgba(50, 70, 81, 0.76);
width:100%;
position:absolute;
bottom:0;
text-align:center;
min-height:618px;
}
.contact h2{
margin-top:1em;
font-size:2em;
color:#fff;
font-weight: 700; 
}
.contact p{
width:100%;
margin:0 auto;
padding-top:0.5em;
color:#fff;
font-size:0.95em;
}
.contact form{
width: 100%;
margin: 0 auto;
}
.contact form input[type="text"],.contact textarea{
border:1px solid #fff;
border-radius:5px;
color:#fff;
outline:0;
padding:1em;
margin-top:1em;
background:transparent;
width:70%;
font-size:0.85em;
}
.contact textarea{
min-height: 122px;
resize: none;
font-family:Open Sans;
}
.contact input[type="submit"] {
border:none;
outline: 0;
color: #000;
font-weight:600;
background: #fff;
border-radius: 22px;
padding: 0.7em 1.5em;
margin: 1.5em 0;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
font-size:0.85em;
}
.contact input[type="submit"]:hover{
background:#FFE600;
color:#fff;
}
/*---/contact---*/
/*---footer---*/
.footer{
background:#182227;
min-height:231px;
margin:0;
padding:0;
}
.footer h5{
color:#fff;
margin:0;
padding:0;
font-size:1em;
font-weight: 400;
}
.footer h6,.footer-head p{
margin:1em 0;
color:#fff;
font-size: 0.95em;
}
.footer-head {
text-align:center;
padding:2em 0;
}
.footer-head a{
color:#C1B20A;
text-decoration:none;
}
.footer-head a:hover{
color:#FF9600;
}
.footer-social-icons a span{
width:38px;
height:39px;
background:url('../images/social-icons.png') no-repeat 0px 0px;
display:inline-block;
}
.footer-social-icons a span.facebook{
background-position: -3px 0px;
}
.footer-social-icons a span.twitter{
	background-position:-59px 0px;
}
.footer-social-icons a span.googleplus{
	background-position:-114px 0px;
}
.footer-social-icons a span.wifi{
	background-position: -170px 0px;
}
.footer-social-icons a span.tribble{
	background-position:-226px 0px
}
.footer-social-icons a span.flicker{
	background-position: -281px 0px;
}
.footer-social-icons a span.skype{
	background-position: -337px 0px;
}
.footer-social-icons a span:hover{
opacity:0.6;
}
/*---/footer---*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*---grid-system---*/
.container{
	width:90%;
	margin:0 auto;
}
.text-center{
	text-align:center;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8  {
	width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left:0px;
	padding-right:0px;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
/*---/grid-system---*/