@font-face {
    font-family: 'z_aristaregular';
    src: url('Arista/z_arista-webfont.eot');
    src: url('Arista/z_arista-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arista/z_arista-webfont.woff2') format('woff2'),
         url('Arista/z_arista-webfont.woff') format('woff'),
         url('Arista/z_arista-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*{
	font-family: Arial;
	margin: 0;
	padding: 0;
}
::selection{background: #ff4c21;color: #fff;}
		header{
			transition: .7s;
			background: #000;
			padding: 0 10%;
			margin-bottom: 20px;
		}
			header img{
				width: 20%;
				margin-top: 5px;
			}
		form {
			width: 80%;
			margin: auto;
		}
		p{
			text-align: center;
			font-size: 17px;
		}
		input{
			font-family: 'z_aristaregular';
			font-size: 18px;
			padding: 5px 11px;;
		}
		input:focus{
			outline: none;
		}
		table{
			width: 32%;
			margin: auto;
		}
		input[type="submit"]{
			background: #ff4c21;
			border: 1px solid #ff4c21;
			color: #FFF;;
			cursor: pointer;
		}
		footer{
			background: #000;
			bottom: 0;
			color: #fff;
			height: 50px;
			position: fixed;
			text-align: center;
			width: 100%;
		}
		
		footer h5{
			font-size: 15px;
			font-weight: 100;
			line-height: 50px;
		}
		footer a{
			color: #fff;
			font-family: 'z_aristaregular';
			font-size: 25px;
			text-decoration: none;
			transition: .7s;
		}
		footer a:hover{
			color: #FF4C21;
		}
		footer a:focus{
			outline: none;
		}

@media only screen and (max-width:480px){
	header{
		text-align: center;
	}
	header img {
		width: 50%;
	}
	p{
		margin: auto;
		text-align: justify;
		width: 85%;
	}
	form{
		margin: 0 20px;
	}
}
@media only screen and (max-width:640px){
	header{
		text-align: center;
	}
	header img{
		width: 30%;
	}
}
@media only screen and (max-width:320px){
	header{
		text-align: center;
	}
	header img {
		width: 50%;
	}
	p{
		margin: auto;
		text-align: justify;
		width: 85%;
	}
	form{
		margin: 0;
	}
	footer{
		height: 50px;
	}
	footer h5{
		line-height: 25px;
	}
	input[type="text"]{
		width: 160px;
	}
	input[type="password"]{
		width: 160px;
	}
}