*{
    margin:0;
    padding:0;
}
body{
    background:#000;
    font-family:Georgia;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:16000px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}
a{
    color:#fff;
    text-decoration:none;
        }
a:hover{
    text-decoration:underline;
}
span.reference{
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:13px;
    font-weight:bold;
}
span.reference a{
	color:#fff;
	text-shadow:1px 1px 1px #000;
	padding-right:20px;
}
span.reference a:hover{
    color:#ddd;
    text-decoration:none;
}
.section{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
    text-shadow:1px 1px 2px #f0f0f0;
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.black{
    color:#fff;
   
    background:#000 url(../images/black.jpg) no-repeat top right;
}
.white{
    color:#000;
    background:#fff url(../images/white.jpg) no-repeat top right;
}

.section ul{
    list-style:none;
    margin:20px 0px 0px 345px;
    position: fixed;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#EC5252;
}
.black ul li a:hover{
    text-decoration:none;
    color:#EC5252;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}